<div class="container">
  <div class='card my-4'>
    <div class='card-header'>{{pageTitle}}</div>
    <div class='card-body'>
      <div class='row mb-3'>
        <div class='col-md-1'>Filter by:</div>
        <div class='col-md-4'>
          <input type='text' [(ngModel)]="listFilter" placeholder="search product list" />
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <h4 *ngIf="listFilter">Filter by: {{listFilter}}</h4>
        </div>
      </div>
      <div class="container" *ngIf="products && products.length">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th col="scope">
                    <button class="btn btn-primary btn-sm" (click)="toggleImage()">
                      {{showImage ? 'Hide' : 'Show'}} Image
                    </button>
                  </th>
                  <th col="scope">Product</th>
                  <th col="scope">Code</th>
                  <th col="scope">Available</th>
                  <th col="scope">Price</th>
                  <th col="scope">5 Star Rating</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of filteredProducts">
                  <td col="scope">
                    <a href="" *ngIf="showImage">
                      <img src={{product.imageUrl}} [title]="product.productName"
                      [style.width.px]="imageWidth" [style.magin.px]="imageMargin">
                    </a>
                  </td>
                  <td col="scope">
                    <a class="rmline" [routerLink]="['/products', product.productId]">
                      {{product.productName}}
                    </a>
                  </td>
                  <td col="scope">{{product.productCode | lowercase | convertToSpaces: '-'}}</td>
                  <td col="scope">{{product.releaseDate}}</td>
                  <td col="scope">{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
                  <td col="scope p-0 m-0"><app-star [rating]="product.starRating" (notify)="onNotify($event)"></app-star></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
