<div class="container">
  <div class='card'>
    <div class='card-header'>{{pageTitle}}</div>
    <div class='card-body'>
      <div class='row mb-3'>
        <div class='col-md-1'>Filter by:</div>
        <div class='col-md-4'>
          <input type='text' [(ngModel)]="listFilter" placeholder="search product list" />
        </div>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <h4 *ngIf="listFilter">Filter by: {{listFilter}}</h4>
        </div>
      </div>
      <div *ngIf="products && products.length">
        <table class="table">
          <thead>
            <tr scope='row'>
              <th scope='col'>
                <button class="btn btn-primary btn-sm w-75" (click)="toggleImage()">
                  {{showImage ? 'Hide' : 'Show'}} Image
                </button>
              </th>
              <th scope='col'>Product</th>
              <th scope='col'>Code</th>
              <th scope='col'>Available</th>
              <th scope='col'>Price</th>
              <th scope='col'>5 Star Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr scope='row' *ngFor="let product of filteredProduct">
              <td scope='col'>
                <a href="" *ngIf="showImage">
                  <img src={{product.imageUrl}} [title]="product.productName"
                  [style.width.px]="imageWidth" [style.magin.px]="imageMargin">
                </a>
              </td>
              <td scope='col'>{{product.productName}}</td>
              <td scope='col'>{{product.productCode | lowercase | convertToSpaces: '-'}}</td>
              <td scope='col'>{{product.releaseDate}}</td>
              <td scope='col'>{{product.price | currency:'USD':'symbol':'1.2-2'}}</td>
              <td scope='col'>{{product.starRating}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
