<div class="card" style="height:93vh;">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/0x0.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>

      <div class="text-center">Developed by:</div>
      <div class="text-center">
        <h3>Orton Chukwuemeka</h3>
      </div>

      <div class="text-center">@ortoncee</div>
      <div class="text-center">
        <a href="http://www.bit.ly/OrtonCeeBlog">www.bit.ly/OrtonCeeBlog</a>
        <div>My regards to deborahK, luv you so Much</div>
        <div>You made my dream in becoming angular deverper come through...Thanks!!!</div>
      </div>
    </div>
  </div>
</div>
